<h1> admin dashboard </h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
</head>
<style>
/* style.css */


</style>

<body>
      <div class="dash">
<div class="sidebar">
<h2>DASHBOARD</h2>

<ul>
<div class="fire">
<li><a href='{% url "student_details" %}'><i class="fa-solid fa-user"></i>Student Details</a></li>
</div>
<div class="fire">

<li><a href='{% url "fee_details" %}'><i class="fa-solid fa-chart-simple"></i>Fee Details</a></li>
</div>
</ul>
<div class="logout">
            <a href='{% url "signin" %}'><i class="fas fa-sign-in-alt"></i> Log out</a>
        </div>
</div>
 <main>
<header class="topbar">
<div class="user-info">
<span class="user-name"><h2>USER</h2></span>
</div>
<div class="search-container">
<input type="text" id ="searchInput" placeholder="Search...">
<button>Search</button>
</div>
<img src="https://via.placeholder.com/40"alt="User" class="user-pic">
</header>

</main>
</div>
    



{% block content %}
<h1>THIS IS BASE PAGE</h1>
{% endblock %}
</div>
    <footer>
        <p>&copy; 2025 MyBrand. All rights reserved to PRAGATI GUPTA.</p>
    </footer>


</body>
</html>