{% extends "base.html" %}
{% block content %}
<h1>student user</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Registration Form</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>

</style>
<body>
<div class="container">
        <h2>Create Your Profile</h2>
        <form>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" placeholder="Enter your name">
             
                <label>Gender:</label>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
                <div class="form-group">
              <label for="profile-pic">Image:</label>
              <input type="file" name="profile-pic" value={{profile_pic}} accept=".jpeg, .png" >
            </div>
            <div class="form-group">
                <label>Father's Name:</label>
                <input type="text" placeholder="Enter father's name">
            
                <label>Mother's Name:</label>
                <input type="text" placeholder="Enter mother's name">
            </div>
            <div class="form-group">
                <label>Date of Birth:</label>
                <input type="date">
            
                <label>Blood group:</label>
                <input type="text" placeholder="Enter ur blood group">
            </div>
           <div class="form-group">
           <label for="subscribe">Specialisation:</label>
                <select>
                    <option>Medical</option>
                    <option>Dental Science</option>
                    <option>Ayurveda</option>
                    <option>Engineering & Technology</option>
                    <option>Nursing</option>
                    <option>Para-Medical Science</option>
                    <option>Agriculture & Allied Science</option>
                    <option>Commerce & Management</option>
                    <option>Journalism & Mass Communication</option>
                    <option>Juridical Science(LAW)</option>
                    <option>Pharmaceutial Science</option>
                </select>
            
                <label>Course:</label>
                <input type="text" placeholder="Enter ur course">
               </div>
             <div class="form-group">
                <label>Email:</label>
                <input type="email" placeholder="Enter email">
           
                <label>Phone:</label>
                <input type="tel" placeholder="Enter phone number">
                </div>
             <div class="form-group">
                <label>Session:</label>
                <input type="date">
            
                <label>Roll Number:</label>
                <input type="number" placeholder="Enter roll number">
                </div>
            
             <div class="form-group">
                <label>Address:</label>
                <textarea placeholder="Enter address"></textarea>
           </div>
           <div class="form-group">
            <label>Password:</label>
            <input type="password" placeholder="Enter password">
            </div>
            <div class="form-group">
            <button type="submit">Register</button>
            </div>
        </form>
    </div>

</body>
</html>

{% endblock %}